body{
    background-color: aquamarine;
}
#kep{
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 1%;
}

#sajt{
    
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 1%;
}